*{
    margin: 0;
    padding: 0;
}

input {
    padding: 10px;
    font-size: 20px;
}

.AllContainer { 
    padding: 30px;
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
    margin: 30pX;   
}

.form-container {
    margin:  50px;
}

.container {
    justify-content: center;
    text-align: center;
    background-color: aquamarine; 
}